<template>
  <div id="top">
    <header class="site-header has-text-centered">
      <img src="header/header.png" />
      <b-icon icon="instagram"></b-icon>
      <b-icon icon="twitter"></b-icon>
      <b-icon icon="linkedin"></b-icon>
      <nav class="site-nav columns links-holder">
          <div class="column has-text-centered" v-for="(item, key) of items" :key="key">
             <nuxt-link :to="item.to" class="link-header" exact-active-class=" is-active">
              {{ item.title }}
              </nuxt-link>
          </div>
        </nav>
    </header>
 
      <main class="container site-container">
        <nuxt />
      </main>

      <footer>
         <a href="#top">↑Back to Top </a>
      </footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        { title: "Portfolio", to: { name: "portfolio" } },
        { title: "About", to: { name: "about" } },
        { title: "Contact", to: { name: "contact" } }
      ]
    };
  }
};
</script>

<style>
@font-face {
  font-family: "museo";
  src: url("~/static/fonts/museo_slab_500-webfont.eot");
  src: url("~/static/fonts/museo_slab_500-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("~/static/fonts/museo_slab_500-webfont.woff") format("woff"),
    url("~/static/fonts/museo_slab_500-webfont.ttf") format("truetype"),
    url("~/static/fonts/museo_slab_500-webfont.svg#museo_slab_500")
      format("svg");
  font-weight: bold;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "museo";
}
p {
  color: #888888;
  font-family: "museo";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  padding-bottom: 25px;
  padding-top: 0px;
  text-align: center;
  text-transform: none;
}
.link-header {
  text-align: center;
  margin: 0 1em;
  color: #bbbbbb;
  font-family: "museo";
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  text-transform: none;
}
.site-header {
  background: #f9f9f9;
  padding: 50px;
}
.site-nav {
  padding-top: 30px;
}
.site-container {
  padding-top: 60px;
}
.page-title {
  color: #444444;
  font-family: "museo";
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
  padding-bottom: 30px;
  padding-top: 0px;
  text-align: center;
  text-transform: none;
  width: 100%;
}
</style>