<template>
<div>
    <h1 class="page-title">Contact</h1>
<section>
    <form>
        <b-field label="Name">
            <b-input v-model="name"></b-input>
        </b-field>

        <b-field label="Email">
            <b-input type="email" value="" maxlength="30">
            </b-input>
        </b-field>

        <b-field label="Message">
            <b-input maxlength="200" type="textarea"></b-input>
        </b-field>
<input class="button" type="submit" value="Submit input">        </form>
    </section>
    </div>
</template>
<style>
</style>

<script>
export default {
  data() {
    return {
      name: ""
    };
  }
};
</script>