<template>
<div class="portfolio container">
         <b-modal :active.sync="isImageModalActive">
            <p class="image is-4by3">
                <img :src="modalPath">
            </p>
        </b-modal>
  <div class="columns">

    <div class="column" v-for="(image, index) in images" :key="index" >
 <div class="card" @click="openImage(image)">
      <div class="card-image">
      <figure class="image is-4by3">
        <div class="hover-dark"></div>
        <img :src='image' alt="Placeholder image">
      </figure>
      </div>
  <div class="card-content">
    <p>{{image}}</p>
  </div>
</div>
    </div>
  </div>
</div>
</template>

<script>
const { images } = process.env;
export default {
  data() {
    return {
      images,
      modalPath: "",
      isImageModalActive: false,
      isCardModalActive: false
    };
  },
  methods: {
    openImage: function(path) {
      this.isImageModalActive = true;
      this.modalPath = path;
    }
  }
};
</script>

<style :scoped>
.hover-dark {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 1s all;
  opacity: 0;
  background-color: #000000;
}
.card-image:hover .hover-dark {
  opacity: 0.45;
}
</style>
